@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
span {
  font-family: "Londrina Solid", cursive;
}
.spa {
  color: white;
  position: absolute;
  font-size: 40px;
}
.spann {
  color: rgb(43, 135, 255);
}
.Nav1 {
  width: 100%;
  height: 55px;
  background-color: black;
}
.Login {
  border: none;
  color: white;
  border-radius: 25px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 2px;
  background-color: rgb(43, 135, 255);
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
  font-family: "Balsamiq Sans", cursive;
}
.Login:hover {
  animation: rotate 0.3s ease-in-out both;
}

@keyframes rotate {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(6px);
  }
}
.Nav2 {
  width: 100%;
  height: 54px;
  background-color: rgb(43, 135, 255);
}

.Login1 {
  border: none;
  color: white;
  border-radius: 20px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 2px;
  background-color: black;
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
  font-family: "Balsamiq Sans", cursive;
}

.Login1,
.LoginSignin:hover {
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(5px);
  }
}
.span {
  font-size: 50px;
  position: absolute;
  font-weight: 900;
}
.hamburger-menu {
  width: 35px;
  height: 30px;
  float: left;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.line {
  width: 100%;
  height: 3px;
  background-color: rgb(43, 135, 255);
  transition: all 0.8s;
}
.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 8px);
}
.change .line-2 {
  opacity: 0;
}
.change .line-3 {
  transform: rotateZ(405deg) translate(-6px, -5px);
}
.sidenav {
  width: 400px;
  height: auto;
  background-color: black;
  position: fixed;
  left: -400px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  padding-top: 60px;
  border-radius: 0% 15% 15% 0;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
  z-index: 9;
}
.change {
  left: 0;
}

.nav-list {
  text-align: left;
  padding-top: 40px;
}

.nav-items {
  list-style: none;
  margin: 45px;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  color: antiquewhite;
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  padding: 3px 0;
}
.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgb(43, 135, 255);
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.nav-link::after {
  bottom: 0;
  transform-origin: right;
}
.nav-link::before {
  top: 0;
  transform-origin: left;
}
.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}
section {
  padding: 100px;
}
section h2 {
  font-size: 4em;
  color: #4b656d;
}
section h2 span {
  display: block;
  font-size: 0.5em;
  color: #ff4983;
}
section p {
  margin-top: 20px;
  font-size: 1.2em;
}
.preloader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #070707;
  z-index: 100000000;
}
.preloader:before {
  content: "Loading";
  padding-top: 220px;
  position: absolute;
  font-size: 10em;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.03);
}
.preloader.active {
  transform: translateY(-100vh);
  transition: ease-in-out 1s;
  transition-delay: 1s;
}
.counter {
  position: relative;
  padding-top: 200px;
  color: rgb(43, 135, 255);
  font-size: 14em;
  font-weight: 700;
  z-index: 1;
}
.counter:after {
  content: "%";
  font-size: 0.5em;
}
.hide {
  opacity: 0;
  transition: 1s;
  position-events: none;
}
h2 {
  position: absolute;
  font-size: 4em;
  color: gray;
  width: 80%;
}
.span {
  color: rgb(43, 135, 255);
  font-size: 2em;
}

h2 .span:before {
  content: "";
  animation: animate infinite 10s;
}
@keyframes animate {
  0% {
    content: "Bold";
  }
  20% {
    content: "Motivated";
  }
  40% {
    content: "Creative";
  }
  60% {
    content: "Home";
  }
  80% {
    content: "Confident";
  }
  100% {
    content: "Different";
  }
}
.Content {
  background-color: rgb(174, 231, 253);
  height: 625px;
  width: auto;
  text-align: center;
  border-radius: 0% 0% 25% 25%;
}
.section {
}
.Headl {
  font-size: 60px;
  font-weight: 800;
  color: rgba(0, 89, 255, 0.993);
  text-align: center;
}
.headlines {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.TextContent {
  width: 525px;
  height: 625px;
  float: left;
  padding-left: 10px;
  padding: 25px;
  background-color: rgb(174, 231, 253);
  border-radius: 0% 0% 0% 25%;
}
.comma {
  color: red;
  font-size: 55px;
}
.imagess {
  width: 525px;
  height: 625px;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(10, 54, 83);
  border-radius: 0% 0% 25% 0%;
}

.sectio {
  position: relative;
  padding-top: 30px;
  width: 30px;
  height: 200px;
  margin-left: 25px;
}

.search-box {
  font-family: "Candara", sans-serif;
  position: absolute;
  background: #333a45;
  height: 55px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 23px;
  border-radius: 40px;
  box-shadow: 0 0 25px 0 rgba(51, 58, 69, 0.4);
}

.search-box input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  padding-left: 10px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  width: 0px;
  transition: all 0.8s;
}

.search-box:hover input {
  width: 360px;
  padding: 0 6px;
}

.search-box input:focus {
  width: 350px;
  padding: 0 6px;
}

.search-btn {
  border: none;
  background: none;
  outline: none;
  width: 40px;
  margin-top: -21px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-btn i {
  z-index: 1;
  background: #00b894;
  font-size: 30px;
  color: #333a45;
  padding: 25px;
  border-radius: 50px;
  box-shadow: 0 0 25px 0 rgba(0, 184, 148, 0.4);
}
.LoginSignin {
  border: none;
  color: black;
  border-radius: 20px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: solid 2px black;
  font-size: 18px;
  background-color: orangered;
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
  font-family: "Balsamiq Sans", cursive;
  padding: 10px 50px 10px;
  margin-right: 80px;
  margin-top: 50px;
}
.center {
  padding-top: 50px;
}
